.MainContainer{
	width: 100% !important;
	margin-top: 20px !important;
	display: flex;
	flex-direction: column !important;
	justify-content: space-around; 
	align-items: center;
	align-content: space-around;
}