.TopScorers {
	width: 30% !important;
	padding: 30px !important;
	margin: 30px !important;
}


.head {
	padding-left: 0px !important;
	margin-left: 0px !important;
	margin-bottom: 0px !important;
}